version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8-browsers@sha256:bbe4f6468f911a4e408fcababadbee6faa5d8bc9a80837d3526e5ba9aafcd43e
    working_directory: ~/repo
    steps:
      - checkout
      - run: yarn
      - run: yarn run lint
      - run: npm run build
      - store_artifacts:
          path: dist
